<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOGS" value="./logs"/>
    <property name="loggingPattern"
              value="%black(%date{dd.MM.yyyy HH:mm:ss}) %highlight(%-5level) %yellow(%-50.50logger{45}): %msg%n%throwable{2}"/>
    <property name="loggingPatternWithThread"
              value="[%blue(%-20.20t{1})]" />
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${loggingPattern}</Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <logger name="no.esa" level="info" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
</configuration>
